<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jessica.com">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SkInspection"
        android:typeface="serif"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkinSaviour">

        <activity
            android:name=".MedicineActivity"
            android:exported="false" />
        <activity
            android:name=".ArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".VASCActivity"
            android:exported="false" />
        <activity
            android:name=".NVActivity"
            android:exported="false" />
        <activity
            android:name=".MELActivity"
            android:exported="false" />
        <activity
            android:name=".DFActivity"
            android:exported="false" />
        <activity
            android:name=".BKLActivity"
            android:exported="false" />
        <activity
            android:name=".BCCActivity"
            android:exported="false" />
        <activity
            android:name=".AKIECActivity"
            android:exported="false" />
        <activity
            android:name=".FurtherActionActivity"
            android:exported="false" />
        <activity
            android:name=".ClassifyActivity"
            android:exported="false" />
        <activity
            android:name=".FindHospitalActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>